.Profile {
    padding: 40px;
}

.avatar {
    max-width: 250px;
    max-height: 250px;
}

.avatarForm {
    display: flex;
    flex-flow: column;
    width: 250px;
    margin: auto;
}

.marginTop {
    margin-top: 15px;
}