.Signin {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../../assets/images/background.jpg');
    position: relative;
}

.Paper {
    padding: 30px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.Button {
    margin-top: 15px;
}

.Logo {
    width: 100px;
    height: 100px;
    margin: auto;
}

.ErrorMessage {
    text-align: center;
    color: red;
}