.Signin {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-image: url('../../assets/images/background.jpg');
}

.Button {
    margin: 30px auto;
}

.Paper {
    padding: 30px;
}

.Logo {
    width: 100px;
    height: 100px;
    margin: auto;
}